.navbar {
    background-color: #fff;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20000000;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1366px;
}

.nav-logo { 
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    flex-grow: 1;
}
.nav__top{
    display: flex;
    justify-content: flex-end;
}
.nav__bot ul {
    list-style: none;
    display: flex;
}

.nav-links {
    color: #000;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}


.nav-item {
    line-height: 40px;
    margin-right: 1rem;
}

.nav-item:after {
    content: "";
    display: block;
    height: 2.5px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
    width: 100%;
    background: #0352cc;
}

.nav-item .active {
    color: #0352cc;
    /* border-bottom: 1px solid #0352cc; */
}

.nav-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: 1pxsolid #fff;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav__bot ul {
        display: block;
    }
    .nav-menu{
        margin-top: 30px;
    }
    .nav-menu.active {
        text-align: center;
        background: #fff;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-item .active {
        color: #0352cc;
        border: none;
    }

    .nav-links {
        display: table;
        padding-top: 1.4rem;
        width: 100%;
    }

    .nav-icon {
        display: block;
        padding-right: 20px;
        font-size: 1.8rem;
        cursor: pointer;
        color: #0352cc;
    }
}